config.toml
logs/
.VSCodeCounter
downloads/
tmp/
.air.toml
.vscode/
*session.db
*.mmdb
dist/
*.db
*.db-shm
*.db-wal
*.db-journal
*.log
imgcache/
test.json
lotsacg
lotsacg.exe
data/
LotsACG
LotsACG.exe
.codegraph/
LotsACG_new.exe
# web frontend build artifacts
web/node_modules/
web/.output/
web/.nuxt/
web/.env
web-dist/


__pycache__/
*.pyc
